.row {
	margin-bottom: 0;
}
.row-100 {
	height: 100%;
}
.inicial {
	background-color: #f5f5f5;
}
.sobre {
	background-color: #153B7F;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 64px;
	font-weight: 500;
}
p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.title-sobre {
	position: relative;
	font-size: 100px;
	font-weight: 700;
}
.col-sobre {
	color: #fff;
}
.col-home {
	margin-top: 10%;
}
.arrow-down-home {
	margin-top: 5%;
	font-size: 50px;
}
.col-sobre-text {
	position: absolute;
}
.text-custom-sobre {
	width: 60%;
	font-size: 25px;
}
.img-custom-sobre {
	margin-top: -20%;
	margin-left: 50%;
}